<div class="dashboard-show">
  <div class="row">
    <div class="col-sm-3">
     
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-header">
          <h4>Categories</h4>
        </div>
        <div class="card-body">
          <h1><%= @categories.length %></h1>
        </div>
      </div>
    </div>
  </div>
</div>
